.container {
  display: flex;
  padding: 2rem;
  gap: 2rem;
  margin-top: 7rem; /* to avoid being hidden under fixed nav */
}

/* Left section: cocktail cards */
.cocktail-list {
  overflow-x: auto;
}

.cocktails {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 20rem;
}

/* Cocktail cards */
.cocktail {
  background-color: #fff;
  width: 18rem;
  border-radius: 0.7rem;
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s;
}

.cocktail:hover {
  transform: scale(1.02);
}

.cocktail__img {
  width: 80%;
  height: 10rem;
  object-fit: cover;
}

.cocktail__data {
  padding: 1.5rem;
}

.cocktail__name {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.cocktail__region {
  font-size: 1.2rem;
  color: #777;
}

/* Right section: result */
.cocktail-result {
  flex: 1; /* Take right side */
  max-width: 100rem;
  background: #fff;
  padding: 2rem;
  border-radius: 0.7rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.hidden {
  display: none;
}